### This notebook will be mainly used for the Coursera capstone project

In [14]:
# Import dependencies

import pandas as pd
import numpy as np

print("Hello Capstone Project Course!")

Hello Capstone Project Course!

## Segmenting and Clustering Neighborhoods in Toronto

### Web-Scraping Wikipedia

In [70]:
from bs4 import BeautifulSoup
import requests
from pandas import DataFrame

html = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
contents = requests.get(html)

soup = BeautifulSoup(contents.content, 'lxml')
table = soup.find_all('table')[0]
lists = pd.read_html(str(table))

df = lists[0]

#### Initial Dataframe

In [72]:
print(f'Initial dataset size: {df.shape}')
df.head()

Initial dataset size: (180, 3)

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

#### Ignoring cells with a borough that is Not assigned.

In [88]:
indexBorough = df[df['Borough'] == 'Not assigned'].index
df.drop(indexBorough, inplace=True)
print(f'Updated dataset size: {df.shape}')
df.head(10)

Updated dataset size: (103, 3)

   Postal Code           Borough                                Neighbourhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills
12         M4B         East York              Parkview Hill, Woodbine Gardens
13         M5B  Downtown Toronto                     Garden District, Ryerson

#### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [84]:
NA_neighborhoods = df[df['Neighbourhood'] == 'Not assigned']

# How many neighborhoods are not assigned?

print(f'There are {len(NA_neighborhoods)} neighborhoods that are not assigned, but belong to a borough.')

There are 0 neighborhoods that are not assigned, but belong to a borough.

#### Clean the dataframe

In [89]:
# Dropping rows messed with the index. Time to unmess it up!
df.reset_index(drop=True).head(10)

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
5         M9A         Etobicoke      Islington Avenue, Humber Valley Village
6         M1B       Scarborough                               Malvern, Rouge
7         M3B        North York                                    Don Mills
8         M4B         East York              Parkview Hill, Woodbine Gardens
9         M5B  Downtown Toronto                     Garden District, Ryerson

#### How many rows does this dataframe have?

In [94]:
num_rows = df.shape[0]
num_cols = df.shape[1]

print(f'There are {num_rows} rows and {num_cols} columns.')

There are 103 rows and 3 columns.

In [98]:
# The code was removed by Watson Studio for sharing.

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476